.UserPosting {
  width: 490px;
  padding: 18px 24px 18px 24px;
  position: relative;
  height: 100%;
}
.UserPosting-NameProfile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
  position: relative;
}
.NameProfileText {
  width: 70%;
  display: flex;
  gap: 10px;
}
.ImageProfile-NameProfile {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
  }
}
.TextProfile-NameProfile {
  height: 100%;
  align-items: center;
  display: flex;
  width: 60%;
  gap: 3%;
  p:nth-child(1) {
    font-size: 10px;
    font-weight: 600;
  }
  p:nth-child(2) {
    font-size: 10px;
    font-weight: 300;
  }
  p:nth-child(3) {
    font-size: 10px;
    color: #757575;
    font-weight: 300;
  }
}
.ButtonList-NameProfile {
  width: 18px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: center;

  &:hover {
    cursor: pointer;
  }
}
.Menu_Posting {
  width: 100%;
  display: flex;
  justify-content: space-between;
  span {
    width: 3px;
    height: 3px;
    border-radius: 50%;
  }
}
.UserPosting-ImagePosting {
  padding-top: 10px;
  width: 100%;
  height: auto;
  position: relative;
}
.Image-ImagePosting {
  width: 100%;
  height: auto;
  position: relative;
  img {
    width: 100%;
    border-radius: 10px;
    object-fit: fill;
  }
}
.UserPosting-ArticlePosting {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 15px;
  figcaption {
    p {
      font-size: 10px;
      font-weight: 300;
    }
  }
}
.UserPosting-LikePosting {
  width: 100%;
  height: 50px;
}
.wrapLikePosting {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10%;
}
.Love-LikePosting,
.Chat-LikePosting {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 3px;

  p {
    font-size: 10px;
    font-weight: 400;
  }
}
.Chat-LikePosting {
  img {
    width: 20px;
    height: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}
.Share-LikePosting {
  display: flex;
  align-items: center;
  img {
    width: 20px;
    height: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}
.Bookmarks-LikePosting {
  display: flex;
  align-items: center;

  img {
    width: 20px;
    height: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}

.Love-LikePosting {
  img {
    padding-top: 2px;
    width: 20px;
    height: 19px;
  }
}
