.Option-PostAndBugReport {
  width: 100px;
  height: 40px;
  position: fixed;
  background-color: #f5cd3d;
  right: 5%;
  bottom: 10%;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  z-index: 1;
  &:hover {
    cursor: pointer;
  }
}
.Option-Bugreport {
  width: 100%;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 100%;
}
.Image-OptionBugReport {
  img {
    width: 16px;
    height: 16px;
  }
}
.Text-OptionBugReport {
  p {
    font-size: 12px;
  }
}
.Container-BugReportPop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  backdrop-filter: blur(5px);
}
.wrap-BugReport {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square-BugReport {
  width: 520px;
  height: 585px;
  background-color: white;
  border-radius: 10px;
}

.Header-BugReport {
  width: 100%;
  height: 70px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textHeader-BugReport {
  width: 50%;
  height: 100%;
  display: flex;
  padding-left: 10px;
  align-items: center;
  h1 {
    font-size: 24px;
    font-weight: 600;
  }
}

.input_type-bug {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 7px 0 -8px 0;
  select {
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    font-size: 14px;
  }
}

.ImgHeader-BugReport {
  width: 50%;
  height: 100%;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  img {
    width: 24px;
    height: 24px;
    &:hover {
      cursor: pointer;
    }
  }
}
.main-BugReport {
  width: 100%;
  height: 490px;
}
.FormBugReport {
  width: 100%;
  height: 100%;
}
.TitleForm-BugReport {
  width: 100%;
  height: 20%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  label {
    p {
      font-size: 16px;
      font-weight: 600;
      width: 80px;
    }
  }
}
.InputTitle {
  width: 100%;
  input {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #5c5c5c;
    outline: none;
    font-size: 16px;
    padding: 0 10px;
  }
}
.TextForm-BugReport {
  width: 100%;
  height: 70%;
  padding: 0 20px;
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  label {
    p {
      font-size: 16px;
      font-weight: 600;
    }
  }
}
.InputDesc {
  width: 100%;
  height: 100%;
  textarea {
    resize: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #5c5c5c;
    outline: none;
    font-size: 16px;
    padding: 5px 10px;
  }
}
.Button-BugReport {
  width: 100%;
  height: 14%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  button {
    width: 25%;
    padding: 5px;
    border-radius: 10px;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 1050px) {
  .Option-PostAndBugReport {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    right: 4%;
    gap: 0px;
  }
}
@media screen and (max-width: 600px) {
  .square-BugReport {
    width: 420px;
  }
}
@media screen and (max-width: 500px) {
  .Option-PostAndBugReport {
    right: 3%;
    bottom: 3.5%;
  }
  .square-BugReport {
    width: 100%;
    height: 100%;
  }
  .textHeader-BugReport {
    h1 {
      font-size: 22px;
    }
  }
  .TitleForm-BugReport {
    label {
      p {
        font-size: 13px;
      }
    }
  }
  .InputTitle {
    input {
      height: 28px;
      border-radius: 5px;
      font-size: 13px;
    }
  }
  .TextForm-BugReport {
    label {
      p {
        font-size: 13px;
      }
    }
  }
  .InputDesc {
    textarea {
      height: 70%;
      border-radius: 5px;
      font-size: 13px;
    }
  }
  .Button-BugReport {
    button {
      width: 30%;
      padding: 5px;
      border: none;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
@media screen and (max-width: 330px) {
  .TextForm-BugReport {
    height: 40%;
  }
  .InputDesc {
    textarea {
      height: 70%;
      border-radius: 5px;
      font-size: 13px;
    }
  }
}
