.AsideSearch {
  width: 350px;
  height: 400px;
  top: 0;
  position: fixed;
  right: 20px;
  &-components {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 15px;
  }
}
.Container-search {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.FormSearch-aside {
  width: 100%;
  height: 60%;
  display: flex;
  gap: 5px;
  align-items: center;
  border: 1px solid black;
  padding: 0 0 0 10px;
  border-radius: 10px;
}
.imageSearch-aside {
  width: 10%;
  display: flex;
  align-items: center;
  img {
    width: 18px;
    height: 18px;
  }
}
.inputForm {
  width: 90%;
  height: 100%;
  input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
  }
}

.Container-recomendUser {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.titleAsideSearch {
  width: 100%;
  font-size: 16px;
  height: 10%;
  font-weight: 600;
}
.WrapUser {
  width: 100%;
  height: 90%;
  overflow-x: auto;
}
.ThisUser {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}
.imageProfile-Aside {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
  }
}
.NameProfile-Aside {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  &:hover {
    cursor: pointer;
  }
  h5 {
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
}
.FollowProfile-Aside {
  width: 45%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.ButtonFollow-Aside {
  width: 80%;
  //   background-color: #ffaf38;
  background-color: transparent;
  border: 1px solid black;
  height: 45%;
  font-weight: 600;
  &:hover {
    cursor: pointer;
  }
}
.ButtonFollowed-Aside {
  width: 80%;
  background-color: #ffaf38;
  border: 1px solid black;
  height: 45%;
  font-weight: 600;
  &:hover {
    cursor: pointer;
  }
}
@media screen and (max-width: 1350px) {
  .AsideSearch {
    width: 250px;
    right: 30px;

    &-components {
      gap: 15px;
    }
  }
  .FormSearch-aside {
    height: 60%;
    border-radius: 5px;
  }
  .imageSearch-aside {
    img {
      width: 16px;
      height: 16px;
    }
  }
  .imageProfile-Aside {
    img {
      width: 40px;
      height: 40px;
    }
  }
}
@media screen and (max-width: 1100px) {
  .AsideSearch {
    display: none;
  }
}

@media screen and (min-width: 1351px) and (min-height: 800px) {
  .AsideSearch {
    width: 350px;
    height: 500px;
    position: fixed;
    right: 30px;
  }
  .Container-recomendUser {
    height: 85%;
  }
  .FormSearch-aside {
    height: 60%;
  }
  .imageSearch-aside {
    width: 10%;

    img {
      width: 24px;
      height: 24px;
    }
  }
  .inputForm {
    input {
      font-size: 20px;
      font-weight: 600;
    }
  }
  .WrapUser {
    height: 100%;
  }
  .titleAsideSearch {
    height: 15%;
    font-size: 20px;
    display: flex;
    align-items: flex-end;
  }
  .ThisUser {
    height: 80px;
  }
  .imageProfile-Aside {
    width: 20%;
    height: 100%;

    img {
      width: 60px;
      height: 60px;
    }
  }
  .NameProfile-Aside {
    h5 {
      font-size: 15px;
    }
    p {
      font-size: 15px;
    }
  }
  .FollowProfile-Aside {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }
  .ButtonFollow-Aside {
    width: 80%;
    background-color: transparent;
    border: 1px solid black;
    height: 45%;
    font-weight: 600;
  }
  .ButtonFollow-Aside {
    width: 80%;
    background-color: #ffaf38;
    border: 1px solid black;
    height: 45%;
    font-weight: 600;
  }
}
