.Comment {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 14;
}
.wrapComment {
  width: 100%;
  height: 100%;
}
.closePopUpComment {
  position: absolute;
  top: -20px;
  right: -20px;
  &:hover {
    cursor: pointer;
  }
}
.squareComment {
  width: 1000px;
  height: 650px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.ImagePostComment {
  width: 50%;
  height: 100%;
  figure {
    padding: 20px 20px;

    width: 100%;
    height: 100%;
  }
}
.PostComment {
  width: 45%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.DescriptionPost {
  width: 100%;
}
.UserDesc {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.groupNameUser {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.ppUserDesc,
.ppUserDescComment {
  width: 11%;
  display: flex;
  align-items: center;
  img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
}
.nameUserDesc,
.nameUserDescComment {
  display: flex;
  height: 100%;
  gap: 5px;
  align-items: center;
  p:nth-child(1) {
    font-size: 10px;
    font-weight: 600;
  }
  p:nth-child(2) {
    font-size: 10px;
    font-weight: 300;
  }
}
.optionUserDesc,
.optionUserDescComment {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
.burgerOptionDesc,
.burgerOptionDescComment {
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
  }
}
.TextDesc {
  width: 100%;
  height: auto;

  padding: 5px 10px;
  p {
    font-size: 12px;
    font-weight: 400;
  }
}
.commentUser {
  padding: 20px 20px 0 20px;

  width: 100%;
  height: 70%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  &::-webkit-scrollbar {
    width: 0.2em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: darkgrey;
  }
}
.ThisComment {
  width: 100%;
  padding-bottom: 5px;
}
.UserDescComment {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.groupNameUserComment {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.TextDescComment {
  width: 100%;
  height: auto;

  padding: 5px 0;
  p {
    font-size: 12px;
    font-weight: 400;
  }
}
.ListLikeComment {
  padding-top: 5px;
  width: 70%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.LikeComment-Love {
  display: flex;
  gap: 5px;
  align-items: center;
  img {
    width: 14px;
    height: 15px;
  }
  figcaption {
    font-size: 15px;
    font-weight: 600;
  }
}
.LikeLoveComment {
  transform: scale(0);
  animation-name: AnimateLove;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.LikeComment-Chat {
  display: flex;
  gap: 5px;
  align-items: center;
  img {
    width: 14px;
    height: 14px;
  }
}
.LikeComment {
  &-Share {
    padding-top: 4px;
    display: flex;
    align-items: center;
  }
  &-Bookmarks {
    display: flex;
    align-items: center;
  }
}
.InputcommentUser {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.ListPostUserLike {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
}
.groupPostLike {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputanUserComment {
  width: 100%;
  height: 55%;
}
.wrapInputanUser {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;

  input {
    padding: 2px 0 0 5px;
    border: none;
    height: 100%;
    width: 90%;
    font-size: 13px;
    font-weight: 300;
    outline: none;
    color: #282828;
    letter-spacing: 0.2px;
    background-color: #f5f5f5;
  }
  button {
    width: 10%;
    height: 100%;
    border: 1px solid #ffba53;
    border-radius: 10px;
    color: #ffba53;
  }
}
@media screen and (max-width: 1100px) {
  .squareComment {
    width: 900px;
  }
}
@media screen and (max-width: 992px) {
  .commentUser {
    padding: 20px 10px 0 10px;
  }
  .UserDescComment {
    padding: 0;
  }
}
@media screen and (max-width: 920px) {
  .squareComment {
    width: 800px;
  }
  .groupPostLike {
    width: 30%;
  }
}
@media screen and (max-width: 820px) {
  .squareComment {
    width: 700px;
  }
  .inputanUserComment {
    width: 100%;
    height: 45%;
  }
}
@media screen and (max-width: 715px) {
  .squareComment {
    width: 600px;
  }
  .groupPostLike {
    width: 40%;
  }
  .groupNameUser,
  .groupNameUserComment {
    width: 70%;
  }
  .ppUserDesc,
  .ppUserDescComment {
    width: 20%;
  }
  .burgerOptionDesc,
  .burgerOptionDescComment {
    width: 15px;
    span {
      width: 3px;
      height: 3px;
    }
  }
  .LikeComment-Love {
    display: flex;
    gap: 5px;
    align-items: center;
    img {
      width: 12px;
      height: 14px;
    }
    figcaption {
      font-size: 15px;
      font-weight: 600;
    }
  }
  .wrapInputanUser {
    input {
      width: 80%;
    }
    button {
      width: 20%;
    }
  }
}
@media screen and (max-width: 635px) {
  .squareComment {
    width: 500px;
  }
  .TextDescComment,
  .TextDesc {
    p {
      font-size: 10px;
    }
  }
  .ListLikeComment {
    width: 100%;
  }
  .groupPostLike {
    width: 70%;
  }
  .LikeComment {
    &-Bookmarks {
      display: flex;
      align-items: center;
      padding-top: 5px;
    }
  }
}
@media screen and (max-width: 535px) {
  .squareComment {
    width: 400px;
  }
  .ppUserDesc,
  .ppUserDescComment {
    img {
      width: 20px;
      height: 20px;
    }
  }
  .nameUserDesc,
  .nameUserDescComment {
    p:nth-child(1) {
      font-size: 7px;
    }
    p:nth-child(2) {
      font-size: 5px;
    }
  }
}
@media screen and (max-width: 500px) {
  .Comment {
    top: auto;
    bottom: 0;
    height: 50vh;
    backdrop-filter: blur(0px);
  }

  .wrapComment {
    width: 100%;
    height: auto;
    animation-name: AnimateSlideUp;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  .squareComment {
    width: 100%;
    height: 380px;
  }
  .ThisComment {
    padding-bottom: 0px;
  }
  .ImagePostComment {
    display: none;
  }
  .PostComment {
    width: 100%;

    padding: 0 20px;
  }

  .ppUserDesc,
  .ppUserDescComment {
    width: 10%;

    img {
      width: 24px;
      height: 24px;
    }
  }
  .nameUserDesc,
  .nameUserDescComment {
    p:nth-child(1) {
      font-size: 12px;
    }
    p:nth-child(2) {
      font-size: 10px;
    }
  }
  .TextDesc,
  .TextDescComment {
    p {
      font-size: 12px;
    }
  }
  .ListLikeComment {
    width: 50%;
  }
  .commentUser {
    padding: 20px 10px 0 10px;
    height: 170px;
  }
  .InputcommentUser {
    position: absolute;
    padding: 0 10px 15px 10px;
    bottom: 0px;
    left: 0;
    height: 80px;
    background-color: white;
    padding-top: 0px;
  }
  .closePopUpComment {
    display: none;
  }
  .closeCommentMobile {
    width: 100%;
    position: absolute;
    top: -15px;
    height: 20px;
    display: flex;
    justify-content: center;
    z-index: 1;
    align-items: flex-end;
    span {
      display: block;
      width: 30%;
      height: 5px;
      background-color: #282828;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }
  }
}
@media screen and (max-width: 330px) {
  .Comment {
    height: 80vh;
  }
}
@media screen and (min-width: 1110px) and (max-height: 710px) {
  .squareComment {
    height: 500px;
  }
}
@keyframes AnimateLove {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(2);
  }
  50% {
    transform: rotate(-30deg);
  }
  70% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
    transform: scale(1.3);
  }
}
@keyframes AnimateSlideUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}
