.ContainerEmail {
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
  transition: all 0.5s ease;
  &-wrap1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-wrap2 {
    width: 570px;
    height: 520px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
  }
}
.judulEmail {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0 20px;
  h1 {
    font-weight: 800;
    font-size: 24px;
  }
}
.mainEmail {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.articleEmail {
  height: 30%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
  p {
    font-weight: 400;
    font-size: 12px;
  }
}
.formEmail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55%;
}
.kolomInputEmail {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  input {
    padding: 10px;
    width: 80%;
    height: 48px;
    font-size: 12px;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 10px;
  }
}
.ResendEmail {
  padding-top: 10px;
  p {
    font-size: 12px;
    font-weight: 400;
    color: #282828;
    a {
      color: #282828;
    }
  }
}
.submitEmail {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  button {
    width: 70%;
    height: 48px;
    background-color: #ffc46b;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid black;
    &:hover {
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 600px) {
  .ContainerEmail {
    &-wrap2 {
      width: 470px;
      height: 520px;
    }
  }
}
@media screen and (max-width: 500px) {
  .ContainerEmail {
    &-wrap2 {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }
  .judulEmail {
    h1 {
      font-size: 20px;
    }
  }
  .mainEmail {
    width: 90%;
    height: 90%;
  }

  .articleEmail {
    p {
      font-weight: 400;
      text-align: center;
      font-size: 10px;
    }
  }
  .kolomInputEmail {
    input {
      width: 80%;
      height: 48px;
      font-size: 12px;
    }
  }
  .ResendEmail {
    display: flex;
    justify-content: center;
    p {
      font-size: 12px;
      width: 80%;
      line-height: 20px;
      padding-bottom: 10px;
      text-align: center;
      span {
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
  .submitEmail {
    height: 50%;

    button {
      width: 70%;
      height: 34px;
    }
  }
}
