.lds-ring.big {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring.big div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 6px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.lds-ring.big div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring.big div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring .big div:nth-child(3) {
  animation-delay: -0.15s;
}
.lds-ring.medium {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
}
.lds-ring.medium div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 44px;
  height: 44px;
  border: 4px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.lds-ring.medium div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring.medium div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring.medium div:nth-child(3) {
  animation-delay: -0.15s;
}
.lds-ring.small {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}
.lds-ring.small div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  border: 2px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.lds-ring.small div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring.small div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring.small div:nth-child(3) {
  animation-delay: -0.15s;
}
.lds-ring.smallThin {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}
.lds-ring.smallThin div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  border: 2px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.lds-ring.smallThin div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring.smallThin div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring.smallThin div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
