.ContainerLogin {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: fadein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  z-index: 3;

  &-Form {
    width: 90%;
    height: 90%;
    border-radius: 40px;
    box-shadow: 0px 2px 80px #dbdbdb;
    display: flex;
    &-Img {
      width: 45%;
      height: 100%;
    }
    &-SignIn {
      width: 55%;
      display: flex;
      justify-content: center;
    }
  }
}
.myImageLogin {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  img {
    width: 90%;
    object-fit: fill;
    height: 100%;
    border-radius: 40px;
  }
}
.WrapperLogin {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.JudulLogin {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 30vh;
  h1 {
    padding-top: 25px;
    font-size: 48px;
    &::after {
      content: "";
      display: block;
      background-color: #ffc46b;
      height: 19px;
      width: 100%;
      margin-top: -17px;
      border-radius: 40px;
    }
  }
}
.myFormLogin {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 350px;
  form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

.Container-Email-Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 78%;
  label {
    font-size: 24px;
    font-weight: 600;
  }
  input {
    height: 48px;
    border: 1px solid;
    background-color: #f5f5f5;
    padding: 5px 0 5px 15px;
    border-radius: 10px;
    font-size: 12px;
    outline: none;
    &:focus {
      border: 1px solid black;
      color: #282828;
    }
  }
}
.errorLogin1,
.errorLogin2 {
  p {
    font-size: 13px;
    color: red;
  }
}
.activeErrorLogin {
  border: 1px solid red;
  color: red;
}
.Container-Password-Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 78%;
  label {
    font-size: 24px;
    font-weight: 600;
  }
}
.InputPassword-Login {
  width: 100%;
  height: 48px;
  display: flex;
  border: 1px solid black;
  align-items: center;
  border-radius: 10px;
  input {
    width: 90%;
    border: none;
    height: 100%;
    padding: 5px 0 5px 15px;
    font-size: 12px;
    background-color: transparent;
    outline: none;
    &:focus {
      border: none;
    }
  }
}
.eyeButton {
  display: flex;
  align-items: center;
  padding-right: 5px;
  img {
    width: 20px;
    height: 20px;
  }
  &:hover {
    cursor: pointer;
  }
}
.optionsLogin {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &-remember {
    display: flex;
    align-items: center;
    gap: 5px;
    label {
      font-weight: 300;
      font-size: 12px;
    }
  }
  &-forgot {
    a {
      font-size: 12px;
      font-weight: 400;
    }
  }
}
.buttonLogin {
  width: 78%;
  button {
    width: 100%;
    height: 48px;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 600;
    &{
      cursor: pointer;
    }
  }
}

.ContainerLogin2 {
  width: 78%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Button-Login-google {
  padding-top: 10px;
  width: 100%;
  button {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    gap: 6px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    &:hover {
      cursor: pointer;
    }
  }
}
.ContainerLogin2-Register {
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  p {
    font-size: 12px;
    font-weight: 400;
    color: #282828;
    a {
      color: #282828;
    }
  }
}

@media screen and (max-width: 1200px) {
  .JudulLogin {
    width: 80%;
    h1 {
      padding-top: 25px;
      font-size: 40px;
    }
  }
}
@media screen and (max-width: 992px) {
  .myImageLogin {
    img {
      object-fit: cover;
    }
  }
  .WrapperLogin {
    width: 100%;
  }
  .JudulLogin {
    h1 {
      padding-top: 30px;
      font-size: 30px;
      &::after {
        height: 20px;
        margin-top: -15px;
      }
    }
  }
  .myFormLogin {
    height: 250px;
  }
  .Container-Email-Login {
    width: 70%;
    label {
      font-size: 18px;
    }
    input {
      height: 35px;
      font-size: 13px;
      border-radius: 5px;
    }
  }
  .Container-Password-Login {
    width: 70%;
    label {
      font-size: 18px;
    }
    input {
      height: 35px;
      font-size: 13px;
      border-radius: 5px;
    }
  }
  .optionsLogin {
    &-remember {
      label {
        font-size: 12px;
      }
    }
    &-forgot {
      a {
        font-size: 12px;
      }
    }
  }
  .buttonLogin {
    width: 70%;
    button {
      height: 40px;
      font-size: 16px;
    }
  }
  .orLogin {
    width: 70%;
    p {
      font-size: 16px;
    }
  }
  .ContainerLogin2 {
    width: 70%;
    height: 150px;
  }
  .Button-Login-google {
    padding-top: 10px;
    button {
      height: 40px;
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 650px) {
  .JudulLogin {
    h1 {
      font-size: 24px;
      &::after {
        height: 10px;
        margin-top: -5px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .ContainerLogin {
    &-Form {
      width: 100%;
      height: 100%;
      overflow-x: auto;
      border-radius: 0;
      box-shadow: 0;
      display: flex;
      &-SignIn {
        width: 100%;
      }
    }
  }
  .myFormLogin {
    height: 400px;
    form {
      justify-content: flex-end;
    }
  }
  .JudulLogin {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    h1 {
      padding-top: 30px;
      font-size: 24px;
      &::after {
        height: 10px;
        width: 100%;
        margin-top: -9px;
      }
    }
    p {
      padding-top: 5px;
      font-size: 12px;
      color: #5c5c5c;
      width: 80%;
    }
  }
  .WrapperLogin {
    padding: 0 24px 0 24px;
    display: block;
  }
  .Container-Email-Login {
    width: 100%;
    padding-bottom: 30px;
    label {
      font-size: 24px;
    }
    input {
      height: 48px;
    }
  }
  .Container-Password-Login {
    width: 100%;
    label {
      font-size: 24px;
      font-weight: 600;
    }
    input {
      height: 48px;
    }
  }
  .optionsLogin {
    padding-bottom: 30px;
    &-remember {
      label {
        font-size: 12px;
      }
    }
    &-forgot {
      a {
        font-size: 12px;
      }
    }
  }
  .buttonLogin {
    width: 100%;
    button {
      height: 28px;
      font-size: 12px;
    }
  }
  .orLogin {
    padding: 20px 0 20px 0;
    width: 100%;
    p {
      font-size: 12px;
      &::before {
        width: 35%;
      }
      &::after {
        width: 35%;
      }
    }
  }
  .ContainerLogin2 {
    width: 100%;
    height: 100px;
  }

  .Button-Login-google {
    padding-top: 0;
    button {
      height: 28px;
      font-size: 12px;
      img {
        margin-top: 1px;
        width: 10px;
        height: 10px;
      }
    }
  }
}
@media screen and (max-width: 400px) and (max-height: 815px) {
  .myFormLogin {
    height: 330px;
  }
  .Container-Email-Login {
    label {
      font-size: 22px;
    }
    input {
      height: 40px;
    }
  }
  .Container-Password-Login {
    label {
      font-size: 22px;
    }
    input {
      height: 40px;
    }
  }
  .optionsLogin {
    &-remember {
      label {
        font-size: 12px;
      }
    }
  }
  .ContainerLogin2 {
    width: 100%;
    height: 120px;
  }
}
@media screen and (max-width: 325px) {
  .JudulLogin {
    h1 {
      padding-top: 20px;
      font-size: 20px;
      &::after {
        margin-top: -5px;
      }
    }
    p {
      font-size: 10px;
    }
  }
  .myFormLogin {
    height: 270px;
  }
  .Container-Email-Login {
    label {
      font-size: 17px;
    }
    input {
      height: 33px;
    }
  }
  .Container-Password-Login {
    label {
      font-size: 17px;
    }
    input {
      height: 33px;
    }
  }
  .buttonLogin {
    button {
      height: 25px;
      font-size: 11px;
    }
  }
  .orLogin {
    p {
      font-size: 11px;
      &::before {
        width: 34%;
      }
      &::after {
        width: 34%;
      }
    }
  }
  .optionsLogin {
    &-remember {
      label {
        font-size: 10px;
      }
    }
    &-forgot {
      a {
        font-size: 10px;
      }
    }
  }

  .ContainerLogin2 {
    width: 100%;
    justify-content: flex-start;
    gap: 29%;
  }
  .Button-Login-google {
    padding-top: 0;
    button {
      height: 25px;
      font-size: 11px;
      img {
        margin-top: 2px;
        width: 8px;
        height: 8px;
      }
    }
  }
  .ContainerLogin2-Register {
    p {
      font-size: 11px;
      font-weight: 400;
      color: #282828;
    }
  }
}
@media screen and (min-width: 1400px) and (min-height: 1250px) {
  .JudulLogin {
    h1 {
      padding-top: 45px;
      font-size: 70px;
      &::after {
        height: 30px;
        margin-top: -25px;
      }
    }
  }
  .myFormLogin {
    height: 450px;
  }
  .Container-Email-Login {
    width: 70%;
    label {
      font-size: 45px;
    }
    input {
      height: 70px;
      font-size: 25px;
    }
  }
  .errorLogin1,
  .errorLogin2 {
    p {
      font-size: 23px;
    }
  }
  .Container-Password-Login {
    width: 70%;
    label {
      font-size: 45px;
    }
    input {
      height: 70px;
      font-size: 25px;
    }
  }
  .optionsLogin {
    &-remember {
      label {
        font-size: 20px;
      }
    }
    &-forgot {
      a {
        font-size: 20px;
      }
    }
  }
  .buttonLogin {
    width: 70%;
    button {
      height: 70px;
      font-size: 26px;
    }
  }
  .orLogin {
    width: 70%;
    p {
      font-size: 26px;
    }
  }
  .ContainerLogin2 {
    width: 70%;
    height: 300px;
  }
  .Button-Login-google {
    padding-top: 0px;
    button {
      height: 70px;
      font-size: 26px;
      gap: 7px;
      img {
        margin-top: 4px;
        width: 20px;
        height: 20px;
      }
    }
  }
  .ContainerLogin2-Register {
    padding-bottom: 30px;
    p {
      font-size: 22px;
    }
  }
}
@media screen and (min-height: 800px) and (max-width: 890px) {
  .ContainerLogin {
    &-Form {
      height: 60%;
    }
  }
}
