.activeNavbar {
  transform: translateX(0%) !important;
  background-color: #f5f5f5;
}
.ContainerNavbar {
  width: 200px;
  height: 100vh;
  position: fixed;
  left: 80px;
  z-index: 4;
  &-Components {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.Navbar {
  &Logo {
    width: 100%;
    height: 10%;
  }
  &List {
    width: 100%;
    height: 60%;
  }
  &Profile {
    width: 100%;
    height: 15%;
  }
}

.Navbar {
  &Logo {
    display: flex;
    justify-content: flex-start;
    h1 {
      font-size: 32px;
      font-weight: 600;
      &::after {
        content: "";
        display: block;
        width: 100%;
        margin-top: -12px;
        border-radius: 40px;
        height: 13px;
        background-color: #ffba53;
      }
    }
  }
}
.navTags {
  width: 100%;
  height: 90%;
}
.NavbarList-Container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  li {
    list-style: none;
  }
}
.List {
  &home {
    width: 100%;
    a {
      width: 50%;
      display: flex;
      align-items: center;
      gap: 24px;
      text-decoration: none;
      color: #282828;
      font-weight: 600;
      font-size: 16px;
    }
  }
  &Explore {
    a {
      width: 50%;

      display: flex;
      align-items: center;
      gap: 24px;
      text-decoration: none;
      color: #282828;
      font-weight: 600;
      font-size: 16px;
    }
  }
  &Notifications {
    a {
      width: 50%;

      display: flex;
      align-items: center;
      gap: 24px;
      text-decoration: none;
      color: #282828;
      font-weight: 600;
      font-size: 16px;
    }
  }
  &Messages {
    a {
      width: 50%;

      display: flex;
      align-items: center;
      gap: 24px;
      text-decoration: none;
      color: #282828;
      font-weight: 600;
      font-size: 16px;
    }
  }
  &Bookmarks {
    a {
      width: 50%;
      font-weight: 600;
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 24px;
      text-decoration: none;
      color: #282828;
    }
  }
  &Profile {
    a {
      width: 50%;
      display: flex;
      align-items: center;
      gap: 24px;
      text-decoration: none;
      color: #282828;
      font-weight: 600;
      font-size: 16px;
    }
  }
  &ButtonPost {
    width: 100%;
    height: 49px;
    p {
      width: 100%;
      height: 100%;
      font-weight: 600;
      font-size: 16px;
      text-decoration: none;
      color: #282828;
      background-color: #ffba53;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.NavbarProfile {
  display: flex;
  align-items: center;
}
.NavbarProfile-Container {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &:hover {
    cursor: pointer;
  }
  figure {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      object-fit: cover;
    }
  }
  figcaption {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    p {
      font-weight: 300;
      font-size: 12px;
      color: #757575;
    }
  }
}
.bulletsProfile {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  &-wrap {
    width: 70%;
    display: flex;
    justify-content: space-between;
    span {
      width: 5px;
      height: 5px;
      background-color: #282828;
      border-radius: 10px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
.OptionsProfile {
  width: 150px;
  height: 80px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -70px;
  right: -130px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1);
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}
.activeOption {
  transform: scale(1);
}
.wrapOptionsProfile {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.Container {
  &-Logout {
    width: 100%;
    display: flex;
    gap: 5%;
    padding: 10px 3px;

    align-items: center;
    p {
      font-size: 12px;
      letter-spacing: 0.24px;
    }
    &:hover {
      cursor: pointer;
      background-color: #dbdbdb;
      border-radius: 5px;
    }
  }
  &-DeleteAccount {
    width: 100%;
    display: flex;
    gap: 5%;
    padding: 10px 3px;
    align-items: center;
    border: 1px solid red;
    border-radius: 5px;
    p {
      font-size: 12px;
      letter-spacing: 0.24px;
      color: red;
    }
  }
}

@media screen and (max-width: 1020px) {
  .ContainerNavbar {
    left: 20px;
  }
}
@media screen and (max-width: 720px) {
  .List {
    &home {
      width: 100%;
      a {
        img {
          width: 18px;
          height: 18px;
        }
        font-weight: 600;
        font-size: 13px;
      }
    }
    &Explore {
      a {
        img {
          width: 19px;
          height: 19px;
        }
        font-weight: 600;
        font-size: 13px;
      }
    }
    &Notifications {
      a {
        img {
          width: 19px;
          height: 19px;
        }
        font-weight: 600;
        font-size: 13px;
      }
    }
    &Messages {
      a {
        img {
          width: 19px;
          height: 19px;
        }
        font-weight: 600;
        font-size: 13px;
      }
    }
    &Bookmarks {
      a {
        img {
          width: 19px;
          height: 19px;
        }
        font-weight: 600;
        font-size: 13px;
      }
    }
    &Profile {
      a {
        img {
          width: 17px;
          height: 19px;
        }
        font-weight: 600;
        font-size: 13px;
      }
    }
    &ButtonPost {
      width: 80%;
      height: 35px;
      p {
        font-size: 15px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .ContainerNavbar {
    width: 200px;
  }
  .List {
    &home {
      a {
        gap: 15px;
        font-size: 12px;
      }
    }
    &Explore {
      a {
        gap: 15px;
        font-size: 12px;
      }
    }
    &Notifications {
      a {
        gap: 15px;
        font-size: 12px;
      }
    }
    &Messages {
      a {
        gap: 15px;
        font-size: 12px;
      }
    }
    &Bookmarks {
      a {
        gap: 15px;
        font-size: 12px;
      }
    }
    &Profile {
      a {
        gap: 15px;
        font-size: 12px;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .ContainerNavbar {
    left: 0;
    width: 270px;
    padding-left: 15px;
    display: flex;
    transform: translateX(-88%);
    transition: all 0.3s ease;
  }
  .ContainerNavbar {
    &-Components {
      width: 85%;
      justify-content: stretch;
    }
  }
  .SlideNavbar {
    width: 15%;
    height: 100vh;
    &:hover {
      cursor: grab;
    }
    &:active {
      cursor: grabbing;
    }
  }
  .ContainerAccountInfo {
    width: 100%;
    height: 35%;
  }
  .WrappingAccountInfo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
  .HeaderAccountInfo {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-size: 24px;
      font-weight: 600;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 6px;
        background-color: #ffba53;
        border-radius: 10px;
        margin-top: -10px;
      }
    }
    img {
      padding-top: 7px;
    }
  }
  .NavbarList-Container {
    width: 100%;
    height: 85%;
  }
  .mainAccountInfo {
    width: 100%;
    height: 70%;
  }
  .NavbarProfile {
    width: 100%;
    height: 70%;
    align-items: flex-end;
  }
  .NavbarProfile-Container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    figure {
      width: 100%;
      align-items: flex-end;
      img {
        width: 60px;
        height: 60px;
      }
      .bulletsProfile {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &-wrap {
          width: 15%;
          display: flex;
          justify-content: space-between;
          span {
            width: 5px;
            height: 5px;
            background-color: #282828;
            border-radius: 10px;
          }
        }
      }
    }
    figcaption {
      height: 50%;
    }
  }
  .NavbarFollow {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .FollowingNavbar,
  .FollowersNavbar {
    font-size: 13px;
    font-weight: 600;
  }
  .NavbarList {
    height: 50%;
  }
  .NameBrand {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    h1 {
      font-size: 10px;
    }
  }
  .List {
    &ButtonPost {
      width: 70%;
      height: 30px;
      p {
        font-size: 13px;
      }
    }
  }
  .OptionsProfile {
    width: 140px;
    height: 120px;
    top: -70px;
    right: -150px;
  }

  .wrapOptionsProfile {
    width: 90%;
    height: 80%;
    background-color: #f5f5f5;
    justify-content: space-around;
    .Container {
      &-BugReport {
        width: 100%;
        display: flex;
        padding: 0;
        gap: 5%;
        p {
          font-size: 12px;
        }
        img {
          width: 16px;
          height: 16px;
        }
      }
      &-Logout {
        padding: 0;
        p {
          font-size: 12px;
        }
        img {
          width: 16px;
          height: 16px;
        }
      }
      &-DeleteAccount {
        padding: 6px 0px;
        p {
          font-size: 10px;
        }
        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .NavbarList {
    height: 55%;
  }
  .NameBrand {
    height: 5%;
  }
}
@media screen and (max-width: 330px) {
  .NavbarProfile-Container {
    figure {
      img {
        width: 40px;
        height: 40px;
      }
      .bulletsProfile {
        &-wrap {
          width: 11%;
        }
      }
    }
    figcaption {
      height: 50%;
      h5 {
        font-size: 10px;
      }
      p {
        font-size: 9px;
      }
    }
  }
  .FollowingNavbar,
  .FollowersNavbar {
    font-size: 10px;
  }
  .NavbarList {
    display: flex;
    align-items: center;
  }
  .navTags {
    height: 85%;
  }
  .List {
    &home {
      a {
        img {
          width: 14px;
          height: 14px;
        }
        font-size: 10px;
      }
    }
    &Explore {
      a {
        img {
          width: 14px;
          height: 14px;
        }
        font-size: 10px;
      }
    }
    &Notifications {
      a {
        img {
          width: 14px;
          height: 14px;
        }
        font-size: 10px;
      }
    }
    &Messages {
      a {
        img {
          width: 14px;
          height: 14px;
        }
        font-size: 10px;
      }
    }
    &Bookmarks {
      a {
        img {
          width: 14px;
          height: 14px;
        }
        font-size: 10px;
      }
    }
    &Profile {
      a {
        img {
          width: 14px;
          height: 14px;
        }
        font-size: 10px;
      }
    }
  }
  .OptionsProfile {
    width: 140px;
    height: 120px;
    top: auto;
    bottom: -120px;
    right: -70px;
  }
}
@media screen and (min-width: 1500px) and (min-height: 800px) {
  .ContainerNavbar {
    width: 350px;
  }
  .Navbar {
    &Logo {
      h1 {
        font-size: 42px;
      }
    }
  }
  .List {
    &home {
      width: 100%;
      a {
        img {
          width: 25px;
          height: 24px;
        }
        font-weight: 600;
        font-size: 25px;
      }
    }
    &Explore {
      a {
        img {
          width: 25px;
          height: 24px;
        }
        font-weight: 600;
        font-size: 25px;
      }
    }
    &Notifications {
      a {
        img {
          width: 25px;
          height: 24px;
        }
        font-weight: 600;
        font-size: 25px;
      }
    }
    &Messages {
      a {
        img {
          width: 25px;
          height: 24px;
        }
        font-weight: 600;
        font-size: 25px;
      }
    }
    &Bookmarks {
      a {
        img {
          width: 25px;
          height: 24px;
        }
        font-weight: 600;
        font-size: 25px;
      }
    }
    &Profile {
      a {
        img {
          width: 25px;
          height: 24px;
        }
        font-weight: 600;
        font-size: 25px;
      }
    }
  }
  .NavbarProfile-Container {
    figure {
      width: 25%;
      img {
        width: 70px;
        height: 70px;
      }
    }
    figcaption {
      width: 40%;

      h5 {
        font-size: 20px;
      }
      p {
        font-size: 18px;
      }
    }
  }
  .bulletsProfile-wrap {
    width: 45%;
    span {
      width: 7px;
      height: 7px;
    }
  }
}
