.ContainerNavbar {
  width: 200px;
  height: 100vh;
  position: fixed;
  left: 80px;
  &-Components {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.Navbar {
  &Logo {
    width: 100%;
    height: 10%;
  }
  &List {
    width: 100%;
    height: 60%;
  }
  &Profile {
    width: 100%;
    height: 15%;
  }
}

.Navbar {
  &Logo {
    display: flex;
    justify-content: flex-start;
    h1 {
      font-size: 32px;
      font-weight: 600;
      &::after {
        content: "";
        display: block;
        width: 100%;
        margin-top: -12px;
        border-radius: 40px;
        height: 13px;
        background-color: #ffba53;
      }
    }
  }
}
.navTags {
  width: 100%;
  height: 90%;
}
.NavbarList-Container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  li {
    list-style: none;
  }
}
.List {
  &home {
    width: 100%;
    a {
      width: 50%;
      display: flex;
      align-items: center;
      gap: 24px;
      text-decoration: none;
      color: #282828;
      font-weight: 600;
      font-size: 16px;
    }
  }
  &Explore {
    a {
      width: 50%;

      display: flex;
      align-items: center;
      gap: 24px;
      text-decoration: none;
      color: #282828;
      font-weight: 600;
      font-size: 16px;
    }
  }
  &Notifications {
    a {
      width: 50%;

      display: flex;
      align-items: center;
      gap: 24px;
      text-decoration: none;
      color: #282828;
      font-weight: 600;
      font-size: 16px;
    }
  }
  &Messages {
    a {
      width: 50%;

      display: flex;
      align-items: center;
      gap: 24px;
      text-decoration: none;
      color: #282828;
      font-weight: 600;
      font-size: 16px;
    }
  }
  &Bookmarks {
    a {
      width: 50%;
      font-weight: 600;
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 24px;
      text-decoration: none;
      color: #282828;
    }
  }
  &Profile {
    a {
      width: 50%;
      display: flex;
      align-items: center;
      gap: 24px;
      text-decoration: none;
      color: #282828;
      font-weight: 600;
      font-size: 16px;
    }
  }
}
.NavbarProfile {
  display: flex;
  align-items: center;
}
.NavbarProfile-Container {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &:hover {
    cursor: pointer;
    background-color: #c2c2c2;
  }
  figure {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      object-fit: cover;
    }
  }
  figcaption {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    p {
      font-weight: 300;
      font-size: 12px;
      color: #757575;
    }
  }
}
@media screen and (max-width: 1020px) {
  .ContainerNavbar {
    left: 20px;
  }
}
@media screen and (max-width: 720px) {
  .List {
    &home {
      width: 100%;
      a {
        img {
          width: 18px;
          height: 17px;
        }
        font-weight: 600;
        font-size: 13px;
      }
    }
    &Explore {
      a {
        img {
          width: 19px;
          height: 20px;
        }
        font-weight: 600;
        font-size: 13px;
      }
    }
    &Notifications {
      a {
        img {
          width: 19px;
          height: 20px;
        }
        font-weight: 600;
        font-size: 13px;
      }
    }
    &Messages {
      a {
        img {
          width: 19px;
          height: 20px;
        }
        font-weight: 600;
        font-size: 13px;
      }
    }
    &Bookmarks {
      a {
        img {
          width: 19px;
          height: 20px;
        }
        font-weight: 600;
        font-size: 13px;
      }
    }
    &Profile {
      a {
        img {
          width: 19px;
          height: 20px;
        }
        font-weight: 600;
        font-size: 13px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .ContainerNavbar {
    width: 200px;
  }
  .List {
    &home {
      a {
        gap: 15px;
        font-size: 12px;
      }
    }
    &Explore {
      a {
        gap: 15px;
        font-size: 12px;
      }
    }
    &Notifications {
      a {
        gap: 15px;
        font-size: 12px;
      }
    }
    &Messages {
      a {
        gap: 15px;
        font-size: 12px;
      }
    }
    &Bookmarks {
      a {
        gap: 15px;
        font-size: 12px;
      }
    }
    &Profile {
      a {
        gap: 15px;
        font-size: 12px;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .ContainerNavbar {
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    &-Components {
      display: flex;
      flex-direction: row;
    }
  }
  .Navbar {
    &Logo {
      display: none;
    }
  }
  .List {
    &home {
      a {
        p {
          display: none;
        }
      }
    }
    &Explore {
      a {
        p {
          display: none;
        }
      }
    }
    &Notifications {
      a {
        p {
          display: none;
        }
      }
    }

    &Profile {
      a {
        p {
          display: none;
        }
      }
    }
  }
  .NavbarList-Container {
    height: 40px;
    flex-direction: row;
    justify-content: space-around;
    li:nth-child(1) {
      order: 1;
    }
    li:nth-child(2) {
      order: 2;
    }
    li:nth-child(3) {
      order: 4;
    }
    li:nth-child(4) {
      order: 3;
    }
    li:nth-child(5) {
      order: 5;
    }
  }
}
@media screen and (min-width: 1500px) and (min-height: 800px) {
  .Navbar {
    &Logo {
      h1 {
        font-size: 42px;
      }
    }
  }
  .List {
    &home {
      width: 100%;
      a {
        img {
          width: 25px;
          height: 24px;
        }
        font-weight: 600;
        font-size: 25px;
      }
    }
    &Explore {
      a {
        img {
          width: 25px;
          height: 24px;
        }
        font-weight: 600;
        font-size: 25px;
      }
    }
    &Notifications {
      a {
        img {
          width: 25px;
          height: 24px;
        }
        font-weight: 600;
        font-size: 25px;
      }
    }
    &Messages {
      a {
        img {
          width: 25px;
          height: 24px;
        }
        font-weight: 600;
        font-size: 25px;
      }
    }
    &Bookmarks {
      a {
        img {
          width: 25px;
          height: 24px;
        }
        font-weight: 600;
        font-size: 25px;
      }
    }
    &Profile {
      a {
        img {
          width: 25px;
          height: 24px;
        }
        font-weight: 600;
        font-size: 25px;
      }
    }
  }
  .NavbarProfile-Container {
    figure {
      width: 40%;
      img {
        width: 70px;
        height: 70px;
      }
    }
    figcaption {
      width: 40%;

      h5 {
        font-size: 25px;
      }
      p {
        font-size: 20px;
      }
    }
  }
}
