.ContainerRegister {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    &-form {
        width: 90%;
        height: 90%;
        border-radius: 40px;
        box-shadow: 0px 2px 80px #dbdbdb;
        display: flex;
        &1 {
            width: 55%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
        
        &2 {
            width: 55%;
            height: 100%;
        }
    }
}

.myImageRegister {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    img {
        width: 90%;
        object-fit: fill;
        height: 100%;
        border-radius: 40px;
    }
}

.titleRegister {
    display: flex; 
    width: 100%;
    padding: 10px;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &1 {
        h1 {
            font-size: 48px;
            width: 100%;
        }
    }
    &2 {
        margin-left: -59;
    }
}

.formRegister {
    margin-top: 20px;
}

.formWrapper {
    display: flex;
    &1 {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
    }
    &2 {
        display: flex;
        flex-direction: column;
        margin: 10px 20px;
    }
    &3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 20px;
        span {
            font-size: 12px;
        }
    }
}

.button-Auth {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 40px;
    &-register1 {
        width: 100%;
        button {
            font-size: 14px;
            font-weight: 600;
            width: 380px;
            height: 35px;
            background-color: #ffc56d;
            border: 1px solid #282828;
            &:hover {
                cursor: pointer;
            }
        }
    }
    &-register2 {
        width: 100%;
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 600;
            width: 380px;
            height: 35px;
            background-color: white;
            border: 1px solid #282828;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.button-icon {
    margin-left: 5px;
}

.input-field {
    width: 100%;
    height: 120px;
    padding-top: 20px;
    &-name {
        width: 170px;
        border: 1px solid #282828;
        border-radius: 5px;
        padding: 10px 5px;
    }
    &-username {
        width: 170px;
        border: 1px solid #282828;
        border-radius: 5px;
        padding: 10px 5px
    }
    &-email {
        width: 380px;
        border: 1px solid #282828;
        border-radius: 5px;
        padding: 10px 5px;
    }

    &-password {
        width: 380px;
        border: 1px solid #282828;
        border-radius: 5px;
        padding: 10px 5px;
    }
}

.navLogin {
    margin-top: 70px;
    p {
        font-size: 12px;
    }
    a {
        text-decoration: underline;
        cursor: pointer;
    }
}

.line {
    border: 0.2px solid black;
    margin: 0 5px;
    width: 100%;
}

.labelForm {
    font-size: 16px;
}

@media screen and (max-width: 500px) {
    .ContainerRegister {
        position: absolute;

        &-form {
            width: 100%;
            height: 100%;
            &1 {
                width: 25%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }
            
            &2 {
                width: 55%;
                height: 100%;
            }
        } 
    }
    .titleRegister {
        height: auto;
        margin: 10px 10px 0 -160px;
        display: flex; 
        width: 200%;
        padding-left: -10px;
        &1 {
            h1 {
                font-size: 24px;

                &::after {
                    content: "";
                    display: block;
                    background-color: #ffc56d;
                    height: 15px;
                    width: 25%;
                    margin: -12px 1px;
                    border-radius: 40px;
                }
            }
            h2 {
                font-size: 24px;
            }
        }
    }

    .descRegister {
        margin-top: 20px;
    }
    
    .formRegister {
        margin-top: 25px;
        height: 320px;
    }

    .line {
        width: 35%;
    }

    .input-field {
        &-name {
            width: 150px;
            margin-left: -10px;
            padding: 10px 5px;
        }

        &-username{
            width: 150px;
            margin-right: 10px;
            padding: 10px 5px;
        }

        &-email {
            width: 340px;
            margin-left: -10px;
            padding: 10px 5px;
        }

        &-password {
            width: 340px;
            margin-left: -10px;
            padding: 10px 5px;
        }
    }

    .button-Auth {
        &-register1 {
            button {
                font-size: 10px;
                margin-left: -20px;
                width: 340px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        &-register2 {
            button {
                font-size: 10px;
                margin-left: -20px;
                width: 340px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .button-icon {
        margin-left: 5px;
    }

    .navLogin {
        margin-left: -20px;
        p {
            font-size: 10px;
        }
    }

    .formWrapper {
        &3 {
            margin-left: 2px;
            span {
                font-size: 10px;
            }
            
        }
    }
}