.ContainerEmailRenewPassword {
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
  transition: all 0.5s ease;
  &-wrap1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-wrap2 {
    width: 570px;
    height: 520px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
  }
}
.judulEmailRenewPassword {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0 20px;
  h1 {
    font-weight: 800;
    font-size: 24px;
  }
}
.mainEmailRenewPassword {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.articleEmailRenewPassword {
  height: 30%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
  p {
    font-weight: 400;
    font-size: 12px;
  }
}
.formEmailRenewPassword {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85%;
}
.kolomInputEmailRenewPassword {
  width: 100%;
  display: flex;
  height: 50%;
  gap: 1px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  label {
    width: 80%;
    p {
      font-size: 12px;
      font-weight: 300;
      color: #282828;
    }
  }
}
.InputOldPassword-Renew,
.InputNewPassword-Renew {
  width: 80%;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid black;
  input {
    padding: 10px;
    width: 90%;
    font-size: 12px;
    outline: none;
    border: none;
    background-color: transparent;
  }
}
.ErrorNewPassword {
  border: 1px solid red;
  color: red;
}
.eyeButtonRenew {
  width: 10%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
  img {
    width: 20px;
    height: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}
.ResendEmailRenewPassword {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 80%;
  height: 100px;
  header {
    h2 {
      font-size: 16px;
      font-weight: 600;
      color: #282828;
    }
  }
}
.titleResendEmail {
  article {
    p {
      font-size: 10px;
      font-weight: 300;
      width: 70%;
      color: #282828;
    }
  }
}
.submitEmailRenewPassword {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  button {
    width: 70%;
    height: 48px;
    background-color: #ffc46b;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid black;
    &:hover {
      cursor: pointer;
    }
  }
}
.CheckMessage {
  display: none;
  width: 80%;
  height: 0;
  align-items: flex-end;
  article {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.24px;
    color: red;
  }
}
.activeCheck {
  color: red;
  border: 1px solid red;
}
.activeCheckMessage {
  display: flex;
}

@media screen and (max-width: 600px) {
  .ContainerEmailRenewPassword {
    &-wrap2 {
      width: 470px;
      height: 520px;
    }
  }
}
@media screen and (max-width: 500px) {
  .ContainerEmailRenewPassword {
    &-wrap2 {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }
  .judulEmailRenewPassword {
    h1 {
      font-size: 20px;
    }
  }
  .mainEmailRenewPassword {
    width: 90%;
    height: 90%;
  }

  .articleEmailRenewPassword {
    p {
      font-weight: 400;
      text-align: center;
      font-size: 10px;
    }
  }
  .kolomInputEmailRenewPassword {
    order: 2;
    height: 20%;
    label {
      width: 100%;
    }
    input {
      width: 100%;
      height: 48px;
      font-size: 12px;
    }
  }
  .ResendEmailRenewPassword {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100px;
  }
  .ResendEmailRenewPassword {
    order: 1;
    display: flex;
    justify-content: center;
    article {
      p {
        font-size: 11px;
      }
    }
  }
  .CheckMessage {
    order: 3;
  }
  .submitEmailRenewPassword {
    order: 4;
    height: 15%;
    button {
      width: 70%;
      height: 34px;
    }
  }
}
@media screen and (max-width: 330px) {
  .formEmailRenewPassword {
    align-items: stretch;
  }
  .kolomInputEmailRenewPassword {
    height: 25%;

    label {
      width: 100%;
    }
    input {
      width: 100%;
    }
  }
  .submitEmailRenewPassword {
    order: 4;
    height: 15%;
  }
}
