@mixin fade($parameters: false, $duration) {
  @if ($parameters) {
    animation-name: fadein;
    animation-duration: $duration;
    animation-fill-mode: forwards;
  } @else {
    animation-name: fadeout;
    animation-duration: $duration;
    animation-delay: 3s;
    animation-fill-mode: forwards;
  }
}

.Container-Welcome {
  width: 100%;
  @include fade(false, 1s);
  height: 100vh;
  &-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.textHeader {
  @include fade(true, 1s);
  &1,
  &2 {
    font-family: "welcome";
    font-size: 48px;
    font-weight: 400;
  }
  &1 {
    color: #ffaf38;
  }
  &2 {
    color: #cc1d5a;
  }
}

@media screen and (max-width: 500px) {
  .Container-Welcome {
    width: 100%;
    animation: none;
    height: 100vh;
    &-header {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .textHeader {
    @include fade(true, 3s);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@font-face {
  font-family: "welcome";
  src: url("../font/Pacifico-Regular.ttf") format("truetype");
}
