.activeNavbar {
  transform: translateX(0%) !important;
}
.ContainerNavbar {
  width: 300px;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 4;
  &-Components {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 3px 0px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 0 16px;
  }
}
.bgOption {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.15);
}
.Navbar {
  &Logo {
    width: 100%;
    height: 10%;
  }
  &List {
    width: 100%;
    height: 60%;
  }
  &More {
    width: 100%;
    height: 15%;
  }
}

.Navbar {
  &Logo {
    width: 100%;
    height: 10%;
  }
}
.Navbar {
  &Logo {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    h1 {
      font-size: 32px;
      font-weight: 600;
      &::after {
        content: "";
        display: block;
        width: 100%;
        margin-top: -12px;
        border-radius: 40px;
        height: 13px;
        background-color: #ffba53;
      }
    }
  }
}
.navTags {
  width: 100%;
  height: 90%;
}
.NavbarList {
  &-Container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    li {
      list-style: none;
    }
  }
  &-SubContainer {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.List {
  &home {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 16px;
    padding: 1rem;
    &:hover {
      background-color: #ffe4a8;
      border-radius: 10px;
    }
  }
  &Explore {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 8px;

    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 16px;
    padding: 1rem;
    &:hover {
      background-color: #ffe4a8;
      border-radius: 10px;
    }
  }
  &Notifications {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 8px;

    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 1rem;

    font-size: 16px;
    &:hover {
      background-color: #ffe4a8;
      border-radius: 10px;
    }
  }
  &Messages {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 8px;

    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 1rem;

    font-size: 16px;
    &:hover {
      background-color: #ffe4a8;
      border-radius: 10px;
    }
  }
  &Bookmarks {
    a {
      width: 50%;
      font-weight: 600;
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 8px;

      text-decoration: none;
      color: black;
    }
  }
  &Profile {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;

    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 1rem;
    font-size: 16px;

    &:hover {
      background-color: #ffe4a8;
      border-radius: 10px;
    }
  }
  &ButtonPost {
    width: 100%;
    height: 49px;
    display: flex;
    background-color: #ffba53;
    border-radius: 10px;
    align-items: center;
    gap: 8px;
    padding: 0 12px;
    position: relative;
    p {
      font-weight: 600;
      font-size: 16px;
      text-decoration: none;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 0.1px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
.ActiveclickLink {
  background-color: #ffba53;
  border-radius: 10px;
}
.NavbarMore {
  display: flex;
  align-items: center;
  position: relative;
}
.NavbarMore-Container {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  &:hover {
    cursor: pointer;
    background-color: #ffe4a8;
    border-radius: 10px;
  }
  p {
    font-size: 16px;
  }
}
.bulletsMore {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  &-wrap {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    span {
      width: 20px;
      height: 3px;
      background-color: #282828;
      border-radius: 5px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
//
@media screen and (max-width: 972px) {
  .ContainerNavbar {
    width: 80px;
  }
  .List {
    &home {
      justify-content: center;
      padding: 1rem 0;

      a {
        gap: 15px;
        font-size: 12px;
      }
      p {
        display: none;
      }
    }
    &Explore {
      justify-content: center;
      padding: 1rem 0;
      a {
        gap: 15px;
        font-size: 12px;
      }
      p {
        display: none;
      }
    }
    &Notifications {
      justify-content: center;
      padding: 1rem 0;
      a {
        gap: 15px;
        font-size: 12px;
      }
      p {
        display: none;
      }
    }
    &Messages {
      justify-content: center;
      padding: 1rem 0;
      a {
        gap: 15px;
        font-size: 12px;
      }
      p {
        display: none;
      }
    }
    &Bookmarks {
      justify-content: center;
      padding: 1rem 0;
      a {
        gap: 15px;
        font-size: 12px;
      }
      p {
        display: none;
      }
    }
    &Profile {
      justify-content: center;
      padding: 1rem 0;
      a {
        gap: 15px;
        font-size: 12px;
      }
      p {
        display: none;
      }
    }
    &ButtonPost {
      .text-upload {
        display: none;
      }
    }
  }

  .NavbarMore-Container {
    p {
      display: none;
    }
  }
  .bulletsMore {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  // .List {
  //   &home {
  //     width: 100%;
  //     a {
  //       img {
  //         width: 18px;
  //         height: 18px;
  //       }
  //       font-weight: 600;
  //       font-size: 13px;
  //     }
  //   }
  //   &Explore {
  //     a {
  //       img {
  //         width: 19px;
  //         height: 19px;
  //       }
  //       font-weight: 600;
  //       font-size: 13px;
  //     }
  //   }
  //   &Notifications {
  //     a {
  //       img {
  //         width: 19px;
  //         height: 19px;
  //       }
  //       font-weight: 600;
  //       font-size: 13px;
  //     }
  //   }
  //   &Messages {
  //     a {
  //       img {
  //         width: 19px;
  //         height: 19px;
  //       }
  //       font-weight: 600;
  //       font-size: 13px;
  //     }
  //   }
  //   &Bookmarks {
  //     a {
  //       img {
  //         width: 19px;
  //         height: 19px;
  //       }
  //       font-weight: 600;
  //       font-size: 13px;
  //     }
  //   }
  //   &Profile {
  //     a {
  //       img {
  //         width: 17px;
  //         height: 19px;
  //       }
  //       font-weight: 600;
  //       font-size: 13px;
  //     }
  //   }
  //   &ButtonPost {
  //     width: 80%;
  //     height: 35px;
  //     p {
  //       font-size: 15px;
  //     }
  //   }
  // }
}
@media screen and (max-width: 600px) {
  .ContainerNavbar {
    width: 80px;
  }
}
@media screen and (max-width: 500px) {
  .ContainerNavbar {
    left: 0;
    width: 270px;
    display: flex;
    transform: translateX(-88%);
    transition: all 0.3s ease;
  }
  .ContainerNavbar {
    &-Components {
      width: 85%;
      justify-content: stretch;
    }
  }
  .SlideNavbar {
    width: 15%;
    height: 100vh;
    &:hover {
      cursor: grab;
    }
    &:active {
      cursor: grabbing;
    }
  }
  .ContainerAccountInfo {
    width: 100%;
    height: 35%;
  }
  .WrappingAccountInfo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
  .HeaderAccountInfo {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-size: 24px;
      font-weight: 600;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 6px;
        background-color: #ffba53;
        border-radius: 10px;
        margin-top: -10px;
      }
    }
    img {
      padding-top: 7px;
    }
  }
  .NavbarList-Container {
    width: 100%;
    height: 85%;
  }
  .mainAccountInfo {
    width: 100%;
    height: 70%;
  }
  .NavbarMore {
    width: 100%;
    height: 70%;
    align-items: flex-end;
  }
  .NavbarMore-Container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    figure {
      width: 100%;
      align-items: flex-end;
      img {
        width: 60px;
        height: 60px;
      }

      .bulletsMore {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &-wrap {
          width: 15%;
          display: flex;
          justify-content: space-between;
          span {
            width: 5px;
            height: 5px;
            background-color: #282828;
            border-radius: 10px;
          }
        }
      }
    }
    figcaption {
      height: 50%;
    }
    p {
      display: block;
    }
  }
  .NavbarFollow {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .FollowingNavbar,
  .FollowersNavbar {
    font-size: 13px;
    font-weight: 600;
  }
  .NavbarList {
    height: 50%;
  }
  .NameBrand {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    h1 {
      font-size: 10px;
    }
  }
  .List {
    &home {
      justify-content: start;
      a {
        gap: 15px;
        font-size: 12px;
      }
      p {
        display: block;
      }
    }
    &Explore {
      justify-content: start;
      a {
        gap: 15px;
        font-size: 12px;
      }
      p {
        display: block;
      }
    }
    &Notifications {
      justify-content: start;
      a {
        gap: 15px;
        font-size: 12px;
      }
      p {
        display: block;
      }
    }
    &Messages {
      justify-content: start;
      a {
        gap: 15px;
        font-size: 12px;
      }
      p {
        display: block;
      }
    }
    &Bookmarks {
      a {
        gap: 15px;
        font-size: 12px;
      }
    }
    &Profile {
      justify-content: start;
      a {
        gap: 15px;
        font-size: 12px;
      }
      p {
        display: block;
      }
    }
    &ButtonPost {
      width: 100%;
      height: 40px;
      p {
        display: block;
        font-size: 13px;
      }
    }
  }

  //
}
@media screen and (max-width: 420px) {
  .NavbarList {
    height: 55%;
  }
  .NameBrand {
    height: 5%;
  }
}
@media screen and (max-width: 330px) {
  .NavbarMore-Container {
    figure {
      img {
        width: 40px;
        height: 40px;
      }
      .bulletsMore {
        &-wrap {
          width: 11%;
        }
      }
    }
    figcaption {
      height: 50%;
      h5 {
        font-size: 10px;
      }
      p {
        font-size: 9px;
      }
    }
  }
  .FollowingNavbar,
  .FollowersNavbar {
    font-size: 10px;
  }
  .NavbarList {
    display: flex;
    align-items: center;
  }
  .navTags {
    height: 85%;
  }
  .List {
    &home {
      a {
        img {
          width: 14px;
          height: 14px;
        }
        font-size: 10px;
      }
    }
    &Explore {
      a {
        img {
          width: 14px;
          height: 14px;
        }
        font-size: 10px;
      }
    }
    &Notifications {
      a {
        img {
          width: 14px;
          height: 14px;
        }
        font-size: 10px;
      }
    }
    &Messages {
      a {
        img {
          width: 14px;
          height: 14px;
        }
        font-size: 10px;
      }
    }
    &Bookmarks {
      a {
        img {
          width: 14px;
          height: 14px;
        }
        font-size: 10px;
      }
    }
    &Profile {
      a {
        img {
          width: 14px;
          height: 14px;
        }
        font-size: 10px;
      }
    }
  }
  .OptionsMore {
    width: 140px;
    height: 120px;
    top: auto;
    bottom: -120px;
    right: -70px;
  }
}
@media screen and (min-width: 1500px) and (min-height: 800px) {
  .ContainerNavbar {
    width: 350px;
  }
  .Navbar {
    &Logo {
      h1 {
        font-size: 42px;
      }
    }
  }
  .List {
    &home {
      width: 100%;
      a {
        img {
          width: 25px;
          height: 24px;
        }
        font-weight: 600;
        font-size: 25px;
      }
    }
    &Explore {
      a {
        img {
          width: 25px;
          height: 24px;
        }
        font-weight: 600;
        font-size: 25px;
      }
    }
    &Notifications {
      a {
        img {
          width: 25px;
          height: 24px;
        }
        font-weight: 600;
        font-size: 25px;
      }
    }
    &Messages {
      a {
        img {
          width: 25px;
          height: 24px;
        }
        font-weight: 600;
        font-size: 25px;
      }
    }
    &Bookmarks {
      a {
        img {
          width: 25px;
          height: 24px;
        }
        font-weight: 600;
        font-size: 25px;
      }
    }
    &Profile {
      a {
        img {
          width: 25px;
          height: 24px;
        }
        font-weight: 600;
        font-size: 25px;
      }
    }
  }
  .NavbarMore-Container {
    figure {
      width: 25%;
      img {
        width: 70px;
        height: 70px;
      }
    }
    figcaption {
      width: 40%;

      h5 {
        font-size: 20px;
      }
      p {
        font-size: 18px;
      }
    }
  }
  .bulletsMore-wrap {
    width: 45%;
    span {
      width: 7px;
      height: 7px;
    }
  }
}
